http:
  routers:
    dev-ui:
      rule: "PathPrefix(`/ui1`)"
      service: dev-ui
      entryPoints:
        - "websecure"
      tls: {}
      priority: 100
      middlewares:
        - oauth2-proxy@docker

    cmdb-dev-api-bearer:
      rule: "PathPrefix(`/api/100000001/cmdb`)  && HeaderRegexp(`Authorization`, `^Bearer .+`)"
      service: cmdb-dev-api
      entryPoints:
        - "websecure"
      tls: {}
      priority: 100

    cmdb-dev-api:
      rule: "PathPrefix(`/api/100000001/cmdb`)"
      service: cmdb-dev-api
      entryPoints:
        - "websecure"
      tls: {}
      priority: 90
      middlewares:
        - oauth2-proxy@docker

    monitoring-dev-api-bearer:
      rule: "PathPrefix(`/api/100000001/monitoring`)  && HeaderRegexp(`Authorization`, `^Bearer .+`)"
      service: monitoring-dev-api
      entryPoints:
        - "websecure"
      tls: {}
      priority: 100

    monitoring-dev-api:
      rule: "PathPrefix(`/api/100000001/monitoring`)"
      service: monitoring-dev-api
      entryPoints:
        - "websecure"
      tls: {}
      priority: 90
      middlewares:
        - oauth2-proxy@docker



  services:
    dev-ui:
      loadBalancer:
        servers:
          - url: "https://laptop-og3ftb1r:8000"
        passHostHeader: true
        serversTransport: dev-transport

    dev-classmodel-ui:
      loadBalancer:
        servers:
          - url: "https://laptop-og3ftb1r:8002"
        passHostHeader: true
        serversTransport: dev-transport

    cmdb-dev-api:
      loadBalancer:
        servers:
          - url: "https://laptop-og3ftb1r:8100"
        passHostHeader: true
        serversTransport: dev-transport

    monitoring-dev-api:
      loadBalancer:
        servers:
          - url: "https://laptop-og3ftb1r:8102"
        passHostHeader: true
        serversTransport: dev-transport
                    

  serversTransports:
    dev-transport:
      insecureSkipVerify: true

